:root {
    --max-width: 1080px;
    --primary-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --blue: #3882F6;
    --dark-blue: #1F2937;
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(./Roboto/Roboto-Bold.ttf)
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* header */

header {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
}

.header-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
}

.nav {
    display: flex;
}

.nav-item {
    font-size: 18px;
    margin-left: 1em;
    text-decoration: none;
    color: var(--secondary-text-color)
}

/* section-hero */

#section-hero {
    background-color: #1F2937;
    padding-top: 150px;
    padding-bottom: 110px;
}

.hero-content {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    gap: 2em;
}

.hero-text-main {
    color: var(--primary-text-color);
    font-size: 48px;
    font-weight: bold;
}

.hero-text-secondary {
    color: var(--secondary-text-color);
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.618em;
}

.hero-text {
    flex: 0 0 50%;
}

.hero-img {
    vertical-align: middle;
}

.hero-img img {
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.btn-primary {
    color: var(--primary-text-color);
    background-color: var(--blue);
    border-style: none;
    border-radius: 6px;
    padding: .618em 2em .618em 2em;
}

/* section-info */

#section-info {
    max-width: var(--max-width);
    margin: auto;
    padding-bottom: 110px;
}

.info-title {
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.random-info {
    display: flex;
    gap: 2.618em;
}

.info-image {
    padding-bottom: 1em;
}

.info-image img {
    max-width: 100%;
    object-fit: cover;
    border: 4px solid var(--blue);
    border-radius: 6px;
    padding: 6px;
}

.info-text {
    text-align: center;
    color: var(--dark-blue);
}

/* section-quote */

#section-quote {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: var(--secondary-text-color);
}

.quote {
    text-align: center;
    max-width: var(--max-width);
    margin: auto;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-credit {
    font-family: Roboto-Bold;
    font-size: 18px;
    max-width: var(--max-width);
    margin: auto;
    text-align: right;
    padding-right: 4em;
}

/* section-cta */

#section-cta {
    padding-top: 110px;
    padding-bottom: 110px; 
}

.cta {
    color: white;
    box-sizing: border-box;
    background-color: var(--blue);
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    padding: 2em 4em 2em 4em;
    border-radius: 8px;
}

.cta-text-area {
    flex: 75%;
}

.cta-primary {
    color: var(--primary-text-color);
    font-family: Roboto-Bold;
    font-size: 18px;
    padding-bottom: .5em;
}

.cta-button {
    width: 100%;
    text-align: right;
    flex: 25%;
}

.cta-button button {
    color: var(--primary-text-color);
    background-color: var(--blue);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--primary-text-color);
    padding: .618em 1.5em .618em 1.5em;
    border-radius: 8px;
}

/* footer */

footer {
    color: white;
    text-align: center;
    background-color: var(--dark-blue);
    padding-top: 2em;
    padding-bottom: 2em;
}